html,
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header-banner-container    {
    margin: 0;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.709), 
      rgba(14, 7, 7, 0.907)
    ),
    url(/resources/images/pexels-gradienta-6985048.jpg);
    background-size: cover;
    background-color: black;
    padding: 15vh 10vw 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-banner-container > h1   {
    font-size: 43px;
    color: white;
    margin: 0;
    font-weight: 800;
    line-height: 1;
    letter-spacing: .1rem;
}

.header-banner-container > h4   {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1;
}

form    {
    width: 75%;
    padding: 0 10%;
    position: absolute;
    z-index: 1;
    margin-top: -1.5rem;
}

.search-icon    {
    position: absolute;
    z-index: 2;
    padding: 1rem 0.5rem 1rem 0.7rem;
    color: grey;
}

.search-input   {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    height: 3rem;
    border-radius: 10px 0 0 10px;
    border: solid 1px #D1D5DB;
    border-right: none;
    margin: 0;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
}

.search-btn {
    border-radius: 0 10px 10px 0;
    height: 3rem;
    border: solid 1px #D1D5DB;
    width: 20%;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
}

.search-input:active,
.search-input:focus,
.search-input:hover,
.form-div:hover > .search-btn {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.141);
    outline: none;
}

.empty-div {
    margin-bottom: 4rem;
}


.result-container   {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1.5px #E5E7EB;

}

.movie-poster-container   {
    flex: 1;
}

.movie-info-container {
    flex: 6;
}

.movie-poster {
    max-width: 100%;
}

@media (max-width: 680px){
    .result-container   {
        display: block;
    }
    .movie-poster {
        width: 100%;
    }
}



.movie-info-container .title-and-rating-container   {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.title-and-rating-container .movie-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.star-checked {
    color: orange;
}

h5 {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.movie-meta-data  {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.movie-summary    {
    max-width: 50%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #6B7280;
}

@media (max-width: 680px){
    .movie-summary    {
        max-width: 100%;
    }
}


.fa-plus-circle {
    font-size: 1.2rem;
}